* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    color: white;
}

.preloader {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-image: url(images/IMG_997699.JPG);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;

    .loading {
        height: 40px;
        width: 40px;
        border: 4px solid #ffffff;
        border-top-color: #8d8d8d;
        border-left-color: #858585;
        position: absolute;
        margin: auto;
        top: 50%;
        left: 46%;
        transform: translate(-40%, -50%);
        border-radius: 50%;
        animation: spin 1.5s infinite linear;
    }

    .channels-icons {
        width: 100%;
        background-color: #000;
        text-align: center;
        position: absolute;
        bottom: 0;
        height: 60px;
        padding: 5px 0;

        .channel-box {
            display: flex;
            gap: 15px;
            justify-content: center;
            text-align: center;
            margin-top: 3px;

            .channels {
                font-size: 20px;
                border-radius: 50%;
                width: 30px;
                height: 30px;
                background-color: #808080;

                i {
                    position: relative;
                    top: 5px;
                    left: -2px;
                }
            }
        }

        .channel {
            font-size: 20px;
            border-radius: 50%;
            width: 30px;
            height: 30px;
            background-color: #808080;

            i {
                position: relative;
                top: 5px;
                left: 0px;
            }
        }
    }
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

.LT1 {
    font-size: 40px;
    color: rgb(248, 102, 5);
    font-weight: bolder;
    text-align: center;
    position: relative;
    top: 10%;
}

.load-text {
    margin-top: 20px;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -80%);
    height: 150px;
    width: 300px;
    text-align: center;
    /* background-color: red; */

    p {
        margin-bottom: 15px;
    }

    .LT {
        font-size: 20px;
        color: rgba(255, 255, 255, 0.966);
        font-weight: bolder;
    }

    .LT2 {
        font-size: 25px;
        color: #000;
        font-weight: bolder;
    }

    .LT3 {
        font-size: 20px;
        color: #000;
        font-weight: bolder;

    }
}

.container {
    background-color: rgb(68, 62, 62);
    height: 100%;
    width: 100%;
    display: none;
}

.header {
    padding: 15px 15px;
    display: flex;
    justify-content: space-between;
}

.img-icon {
    display: flex;
    gap: 20px;
    align-items: center;
}

.setting {
    align-items: center;
    cursor: pointer;

    i {
        font-size: 20px;
        margin-top: 10px;
    }
}

.progress {
    padding: 0px 15px;

    .level {
        display: flex;
        gap: 20px;

        .level-name {
            display: flex;
            gap: 5px;

            i {
                font-size: 18px;
            }
        }

        p.lvl {
            color: gray;
        }
    }

    .progress-gradient {
        margin-top: 5px;
        width: 100%;
        height: 10px;
        background: #808080;
        border-radius: 15px;
        border: 1px solid rgba(231, 218, 218, 0.589);

        .gradient-bar {
            width: 60%;
            height: 100%;
            background-color: #fff;
            border-radius: 15px;
        }
    }
}

.box-award {
    margin-top: 15px;
    padding: 15px 15px;
    background-color: rgba(24, 21, 1, 0.74);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 3px 3px rgba(255, 255, 255, 0.87) inset;

    .box {
        width: 120px;
        height: 100px;
        background-color: rgba(209, 202, 202, 0.582);
        border-radius: 15px;
        position: relative;

        .bullet {
            display: flex;
            float: right;
            margin: 7px;
        }

        .bullet::before {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: #fff;
            opacity: 1;
            content: "";
        }

        .box-icon {
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -40%) !important;
        }

        p {
            font-size: 12px;
            font-weight: bold;
            margin-bottom: 5px;
            position: absolute;
            top: 65%;
            display: flex;
            width: 100%;
            text-align: center;
            justify-content: center;
        }

        .box-icon img {
            background-color: darkslategray;
            border-radius: 50%;
            padding: 5px;
        }
    }
}

.main-box {
    margin-top: 5px;
    height: 450px;
    background-image: url(images/Mew.PNG);
    background-position: center;
    background-size: cover;

    .coin-balance {
        padding-top: 20px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .coin-amount {
        font-size: 25px;
    }

    .farming-btn {
        position: relative;
        top: 78%;
        left: 10%;

        #btn {
            background-color: #808080;
    width: 80%;
    height: 30px;
    font-size: 15px;
    font-weight: bold;
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px;
    border-top-left-radius: 9px;
    border-bottom-left-radius: 9px;
    color: #fff;
    outline: none;
    border: none;
    text-align: center;
        }
}

.footer {
    background-color: rgba(0, 0, 0, 0.918);
    margin: 2px 0;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    height: 50px;
    background-color: #000;

    .footer-box1 {
        display: flex;
        width: 30%;
        justify-content: space-between;
        margin: 5px 10px;
        gap: 5px;

        .footer-box {
            text-align: center;
        }
    }

    .home {
        position: relative;
        top: -8px
    }
}



@media screen and (max-width: 380px) {
    .box-award {
        gap: 10px
    }
}

@media screen and (max-width: 320px) {
    .box-award {
        gap: 10px;

        .box {
            width: 100px;
            height: 80px;
        }
    }

    .footer {
        justify-content: space-between;

    }
}
